[submodule "games/ottomatic"]
	path = games/ottomatic
	url = https://github.com/jorio/ottomatic.git
[submodule "games/cromagrally"]
	path = games/cromagrally
	url = https://github.com/jorio/cromagrally.git
[submodule "games/bugdom"]
	path = games/bugdom
	url = https://github.com/jorio/bugdom.git
[submodule "games/bugdom2"]
	path = games/bugdom2
	url = https://github.com/jorio/bugdom2.git
[submodule "games/nanosaur"]
	path = games/nanosaur
	url = https://github.com/jorio/nanosaur.git
[submodule "games/nanosaur2"]
	path = games/nanosaur2
	url = https://github.com/jorio/nanosaur2.git
[submodule "games/billyfrontier"]
	path = games/billyfrontier
	url = https://github.com/jorio/billyfrontier.git
[submodule "games/mightymike"]
	path = games/mightymike
	url = https://github.com/jorio/MightyMike
[submodule "games/ottomatic-wasm"]
	path = games/ottomatic-wasm
	url = https://github.com/LachlanBWWright/OttoMatic-Android
[submodule "gamePorts/nanosaur"]
	path = gamePorts/nanosaur
	url = https://github.com/LachlanBWWright/Nanosaur-android
[submodule "gamePorts/bugdom"]
	path = gamePorts/bugdom
	url = https://github.com/LachlanBWWright/Bugdom-android
[submodule "gamePorts/cromagrally"]
	path = gamePorts/cromagrally
	url = https://github.com/LachlanBWWright/CroMagRally-Android
[submodule "gamePorts/bugdom2"]
	path = gamePorts/bugdom2
	url = https://github.com/LachlanBWWright/Bugdom2-Android
[submodule "gamePorts/billyfrontier"]
	path = gamePorts/billyfrontier
	url = https://github.com/LachlanBWWright/BillyFrontier-Android
[submodule "gamePorts/mightymike"]
	path = gamePorts/mightymike
	url = https://github.com/LachlanBWWright/MightyMike-Android
[submodule "gamePorts/nanosaur2"]
	path = gamePorts/nanosaur2
	url = https://github.com/LachlanBWWright/Nanosaur2-Android
[submodule "frontend/public/games/pangea-ports"]
	path = frontend/public/games/pangea-ports
	url = https://github.com/LachlanBWWright/Pangea-Ports
